<nav class="navbar navbar-dark bg-dark" style="background-color: #e3f2fd;">
  <div class="container-fluid">
 
  <div>
     <h1>Oscar Awards 2019 <span class="badge badge-secondary">Live</span></h1>
    {% if user.is_authenticated %}
     <a class="btn btn-info" href="{% url 'profile' %}">Profile</a>
     <a class="btn btn-info" href="{% url 'logout' %}">Logout</a>
    {% else %}
     <a class="btn btn-info" href="{% url 'profile' %}">Profile</a>
     <a class="btn btn-info" href="{% url 'login' %}">Login</a>
     <a class="btn btn-info" href="{% url 'register' %}">Register</a>  
  </div>
    {% endif %}
      

    <!-- Adding a search form  -->
    <!-- <div class="col-sm-4 col-md-4 navbar-right">
      <form class="form-inline my-2 my-lg-0" role="search" action="">
        <input class="form-control mr-sm-2" type="search" placeholder="Search Profile" aria-label="Search" name="profile" >
        <button class="btn btn-light" type="submit">Search</button>
      </form>
      
    </div> -->
    <!-- search form end -->

    
    <!-- <div class="moha">
        <img src="/static/img/moha.jpg" alt="instagram" style="width: 100px;height: 90px; margin-left: 1650px; margin-top: -100px; ">
    </div> -->
  </div>
</nav>
